@import './mixins';

footer {
    background: grey;
    @include cont-img(100%, 600px);

    .footer-bg {
        @include img(100%, 100%);
    }

    .footer-img {
        position: absolute;
        right: 100px;
    }
}

@media screen and(max-width: 880px) {
    footer {
        background: grey;
        @include cont-img(100%, 400px);
    
        .footer-bg {
            @include img(100%, 100%);
        }
    
        .footer-img {
            width: 300px;
            right: 100px;
        }
    }
}

@media screen and(max-width: 500px) {
    footer {
        background: grey;
        @include cont-img(100%, 400px);
    
        .footer-bg {
            @include img(100%, 100%);
        }
    
        .footer-img {
            width: 300px;
            right: 50px;
        }
    }
}