// Colors//
$red:#B31827;
$blue: 31376E;


// Fonts //
$font-blue: #252955;
$font-family-0: sans-serif; 
$font-family-1: verdana;

  $font-L: 30px;
  $font-M: 25px;
  $font-S: 20px;
  $font-XS: 16px;
