//  Media Queries //
@media screen and (max-width: 1285px) {
    nav {
      height: 200px;
  
      .cont-logo {
        width: 350px;
      }
  
      .cont-links {
        width: 70%;
      }
    }

    header {
        .header-txt {
            justify-self: flex-start;
            margin-left: 30px;
            width: 80%;
           
            h1 {
                font-size: 30px;
            }
        }
    }
  }
  
  @media screen and (max-width: 1140px) {
    nav {
      height: 20vh;
  
      .cont-logo {
        width: 260px;
        height: 80%;
      }
  
      .cont-links {
        width: 70%; 
      }
    }
  }